In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('delhidataset.csv')

In [3]:
print(data.head())

    Area  BHK  Bathroom      Furnishing  \
0  800.0    3       2.0  Semi-Furnished
1  750.0    2       2.0  Semi-Furnished
2  950.0    2       2.0       Furnished
3  600.0    2       2.0  Semi-Furnished
4  650.0    2       2.0  Semi-Furnished

                                            Locality  Parking     Price  \
0                                   Rohini Sector 25      1.0   6500000
1             J R Designers Floors, Rohini Sector 24      1.0   5000000
2                Citizen Apartment, Rohini Sector 13      1.0  15500000
3                                   Rohini Sector 24      1.0   4200000
4  Rohini Sector 24 carpet area 650 sqft status R...      1.0   6200000

          Status   Transaction           Type
0  Ready_to_move  New_Property  Builder_Floor
1  Ready_to_move  New_Property      Apartment
2  Ready_to_move        Resale      Apartment
3  Ready_to_move        Resale  Builder_Floor
4  Ready_to_move  New_Property  Builder_Floor

In [4]:
data.shape

(1259, 10)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Area         1259 non-null   float64
 1   BHK          1259 non-null   int64
 2   Bathroom     1257 non-null   float64
 3   Furnishing   1254 non-null   object
 4   Locality     1259 non-null   object
 5   Parking      1226 non-null   float64
 6   Price        1259 non-null   int64
 7   Status       1259 non-null   object
 8   Transaction  1259 non-null   object
 9   Type         1254 non-null   object
dtypes: float64(3), int64(2), object(5)
memory usage: 98.5+ KB

In [6]:
data.isna().sum()

Area            0
BHK             0
Bathroom        2
Furnishing      5
Locality        0
Parking        33
Price           0
Status          0
Transaction     0
Type            5
dtype: int64

In [7]:
data.drop(columns=['Furnishing','Parking','Status','Type'],inplace=True)

In [8]:
data.describe()

               Area          BHK     Bathroom         Price
count   1259.000000  1259.000000  1257.000000  1.259000e+03
mean    1466.452724     2.796664     2.556086  2.130670e+07
std     1568.055040     0.954425     1.042220  2.560115e+07
min       28.000000     1.000000     1.000000  1.000000e+06
25%      800.000000     2.000000     2.000000  5.700000e+06
50%     1200.000000     3.000000     2.000000  1.420000e+07
75%     1700.000000     3.000000     3.000000  2.550000e+07
max    24300.000000    10.000000     7.000000  2.400000e+08

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Area         1259 non-null   float64
 1   BHK          1259 non-null   int64
 2   Bathroom     1257 non-null   float64
 3   Locality     1259 non-null   object
 4   Price        1259 non-null   int64
 5   Transaction  1259 non-null   object
dtypes: float64(2), int64(2), object(2)
memory usage: 59.1+ KB

In [10]:
data['Bathroom'].value_counts()

Bathroom
2.0    551
3.0    355
1.0    146
4.0    138
5.0     57
6.0      7
7.0      3
Name: count, dtype: int64

In [11]:
data['Bathroom']=data['Bathroom'].fillna('2.0')

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Area         1259 non-null   float64
 1   BHK          1259 non-null   int64
 2   Bathroom     1259 non-null   object
 3   Locality     1259 non-null   object
 4   Price        1259 non-null   int64
 5   Transaction  1259 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 59.1+ KB

In [13]:
X=data[['Area','BHK','Bathroom','Locality','Transaction']]
Y=data['Price']