In [120]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [121]:
data=pd.read_csv('delhidataset.csv')

In [122]:
print(data.head())

    Area  BHK  Bathroom      Furnishing  \
0  800.0    3       2.0  Semi-Furnished
1  750.0    2       2.0  Semi-Furnished
2  950.0    2       2.0       Furnished
3  600.0    2       2.0  Semi-Furnished
4  650.0    2       2.0  Semi-Furnished

                                            Locality  Parking     Price  \
0                                   Rohini Sector 25      1.0   6500000
1             J R Designers Floors, Rohini Sector 24      1.0   5000000
2                Citizen Apartment, Rohini Sector 13      1.0  15500000
3                                   Rohini Sector 24      1.0   4200000
4  Rohini Sector 24 carpet area 650 sqft status R...      1.0   6200000

          Status   Transaction           Type
0  Ready_to_move  New_Property  Builder_Floor
1  Ready_to_move  New_Property      Apartment
2  Ready_to_move        Resale      Apartment
3  Ready_to_move        Resale  Builder_Floor
4  Ready_to_move  New_Property  Builder_Floor

In [123]:
data.shape

(1259, 10)

In [124]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Area         1259 non-null   float64
 1   BHK          1259 non-null   int64
 2   Bathroom     1257 non-null   float64
 3   Furnishing   1254 non-null   object
 4   Locality     1259 non-null   object
 5   Parking      1226 non-null   float64
 6   Price        1259 non-null   int64
 7   Status       1259 non-null   object
 8   Transaction  1259 non-null   object
 9   Type         1254 non-null   object
dtypes: float64(3), int64(2), object(5)
memory usage: 98.5+ KB

In [125]:
data.isna().sum()

Area            0
BHK             0
Bathroom        2
Furnishing      5
Locality        0
Parking        33
Price           0
Status          0
Transaction     0
Type            5
dtype: int64

In [126]:
data.drop(columns=['Furnishing','Status','Type'],inplace=True)

In [127]:
data.describe()

               Area          BHK     Bathroom      Parking         Price
count   1259.000000  1259.000000  1257.000000  1226.000000  1.259000e+03
mean    1466.452724     2.796664     2.556086     1.935563  2.130670e+07
std     1568.055040     0.954425     1.042220     6.279212  2.560115e+07
min       28.000000     1.000000     1.000000     1.000000  1.000000e+06
25%      800.000000     2.000000     2.000000     1.000000  5.700000e+06
50%     1200.000000     3.000000     2.000000     1.000000  1.420000e+07
75%     1700.000000     3.000000     3.000000     2.000000  2.550000e+07
max    24300.000000    10.000000     7.000000   114.000000  2.400000e+08

In [128]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Area         1259 non-null   float64
 1   BHK          1259 non-null   int64
 2   Bathroom     1257 non-null   float64
 3   Locality     1259 non-null   object
 4   Parking      1226 non-null   float64
 5   Price        1259 non-null   int64
 6   Transaction  1259 non-null   object
dtypes: float64(3), int64(2), object(2)
memory usage: 69.0+ KB

In [129]:
data['Bathroom'].value_counts()

Bathroom
2.0    551
3.0    355
1.0    146
4.0    138
5.0     57
6.0      7
7.0      3
Name: count, dtype: int64

In [130]:
data['Bathroom']=data['Bathroom'].fillna('2.0')

In [131]:
data['Parking'].value_counts()

Parking
1.0      796
2.0      341
3.0       54
4.0       16
5.0        7
39.0       7
114.0      3
9.0        1
10.0       1
Name: count, dtype: int64

In [132]:
data['Parking']=data['Parking'].fillna('1.0')

In [133]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Area         1259 non-null   float64
 1   BHK          1259 non-null   int64
 2   Bathroom     1259 non-null   object
 3   Locality     1259 non-null   object
 4   Parking      1259 non-null   object
 5   Price        1259 non-null   int64
 6   Transaction  1259 non-null   object
dtypes: float64(1), int64(2), object(4)
memory usage: 69.0+ KB

In [134]:
from sklearn.model_selection import train_test_split

In [135]:
X=data[['Area','BHK','Bathroom','Locality']]
Y=data['Price']

In [136]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

In [137]:
X_train

        Area  BHK Bathroom Parking  \
159    500.0    2      1.0     1.0
435   1500.0    3      3.0     2.0
554   1300.0    3      3.0     3.0
1013   750.0    3      2.0     1.0
935    400.0    1      1.0     1.0
...      ...  ...      ...     ...
763    700.0    2      2.0     1.0
835    450.0    1      1.0     1.0
1216  2250.0    4      4.0     3.0
559   2700.0    4      4.0     2.0
684   3100.0    5      5.0     3.0

                                               Locality   Transaction
159                                  Budh Vihar Phase 1        Resale
435                                    Patel Nagar West        Resale
554                                               Saket        Resale
1013            Batla House Project, Batla House, Okhla        Resale
935                      Dilshad Colony, Dilshad Garden        Resale
...                                                 ...           ...
763                           New Manglapuri, Sultanpur        Resale
835                           Brijwasi Colony, Mehrauli        Resale
1216                       Hauz Khas Enclave, Hauz Khas  New_Property
559                                               Saket  New_Property
684   Common Wealth Games Village, Commonwealth Game...        Resale

[1007 rows x 6 columns]

In [151]:
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.metrics import r2_score

In [180]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [167]:
#Apply Linear Regression

In [168]:
ln=LinearRegression()
ln.fit(X_train,Y_train)
predictions=ln.predict(X_test)
score=r2_score(Y_test,predictions)
score

C:\Users\Utkarsh\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\Utkarsh\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:228: UserWarning: Found unknown categories in columns [0] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

0.44278514609389075

In [161]:
#Ridge Regression

In [162]:
column_trans=make_column_transformer((OneHotEncoder(drop='first',sparse=False,handle_unknown='ignore'),['Locality','Transaction']),remainder='passthrough')
scaler=StandardScaler()
rd=Ridge(alpha=10)
pipe=make_pipeline(column_trans,scaler,rd)
pipe.fit(X_train,Y_train)
predictions=pipe.predict(X_test)
score=r2_score(Y_test,predictions)
score

C:\Users\Utkarsh\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\Utkarsh\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:228: UserWarning: Found unknown categories in columns [0] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

0.7804168112853741

In [163]:
#Lasso Regression

In [164]:
column_trans=make_column_transformer((OneHotEncoder(drop='first',sparse=False,handle_unknown='ignore'),['Locality','Transaction']),remainder='passthrough')
scaler=StandardScaler()
ls=Lasso(alpha=0.001)
pipe=make_pipeline(column_trans,scaler,rd)
pipe.fit(X_train,Y_train)
predictions=pipe.predict(X_test)
score=r2_score(Y_test,predictions)
score

C:\Users\Utkarsh\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\Utkarsh\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:228: UserWarning: Found unknown categories in columns [0] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

0.7804168112853741

In [ ]:
#Decision Tree Regression

In [179]:
column_trans=make_column_transformer((OneHotEncoder(drop='first',sparse=False,handle_unknown='ignore'),['Locality','Transaction']),remainder='passthrough')
scaler=StandardScaler()
dtr=DecisionTreeRegressor()
pipe=make_pipeline(column_trans,scaler,dtr)
pipe.fit(X_train,Y_train)
predictions=pipe.predict(X_test)
score=r2_score(Y_test,predictions)
score

C:\Users\Utkarsh\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\Utkarsh\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:228: UserWarning: Found unknown categories in columns [0] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

0.453393713873095

In [ ]:
#Random Forest Regressor

In [202]:
column_trans=make_column_transformer((OneHotEncoder(drop='first',sparse=False,handle_unknown='ignore'),['Locality','Transaction']),remainder='passthrough')
scaler=StandardScaler()
rfr=RandomForestRegressor(n_estimators=100,random_state=0,max_samples=0.2,max_features=0.75,max_depth=18)
pipe=make_pipeline(column_trans,scaler,rfr)
pipe.fit(X_train,Y_train)
predictions=pipe.predict(X_test)
score=r2_score(Y_test,predictions)
score

C:\Users\Utkarsh\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\Utkarsh\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:228: UserWarning: Found unknown categories in columns [0] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

0.8217609254790867

In [ ]:
#Voting Regressor

In [201]:
from sklearn.ensemble import VotingRegressor
column_trans=make_column_transformer((OneHotEncoder(drop='first',sparse=False,handle_unknown='ignore'),['Locality','Transaction']),remainder='passthrough')
scaler=StandardScaler()
rfr=RandomForestRegressor(n_estimators=100,random_state=0,max_samples=0.2,max_features=0.75,max_depth=18)
ls=Lasso(alpha=0.001)
rd=Ridge(alpha=10)
vr=VotingRegressor([('rfr',rfr),('ls',ls),('rd',rd)],weights=[5,1,1])
pipe=make_pipeline(column_trans,scaler,vr)
pipe.fit(X_train,Y_train)
predictions=pipe.predict(X_test)
score=r2_score(Y_test,predictions)
score

C:\Users\Utkarsh\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\Utkarsh\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.403e+16, tolerance: 7.214e+13
  model = cd_fast.enet_coordinate_descent(
C:\Users\Utkarsh\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:228: UserWarning: Found unknown categories in columns [0] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

0.8388525934714369

In [ ]:
#exportingmodel

In [205]:
import pickle
pickle.dump(data,open('data.pkl','wb'))
pickle.dump(pipe,open('RandomForestRegressor.pkl','wb'))